div.pic {
    width: 100%-75px;
    margin-left: 75px;
}

div.exp {
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px;
    width: 100% - 75px;
    margin-left: 75px;
    font-family: 標楷體;
}